{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>주소 변환 시스템</title>

   {% tailwind_css %}
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-6 py-4">
            <h1 class="text-2xl font-bold text-gray-800">주소 변환 시스템</h1>
        </div>
    </header>

    <main class="flex-grow container mx-auto p-6">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-white mt-auto">
        <div class="container mx-auto px-6 py-3 text-center text-gray-600">
            &copy; 2025 tete Sideproject. All rights reserved.
        </div>
    </footer>
</body>
</html>